{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="{% static '/icons/delete.png' %}">
    <link rel="stylesheet" type="text/css" href="{% static '/styles/style.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static '/styles/bt.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static '/styles/edit.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static '/styles/del.css' %}">
    <title>...::: Delete exercise :::...</title>
</head>
<body>
{% block content %}
    <h2>Delete Exercise</h2>
    <h3>Are you sure you want to delete the exercise?</h3>

    <form method="POST" class="d-inline-block">
        {% csrf_token %}
        <button type="submit" class="btn btn-danger" name="confirm_delete" value="true">Yes, delete it</button>
    </form>

    <a href="{% url 'telemedWebapp:view_exercises' %}" class="btn btn-secondary ml-3">Cancel</a>

{% endblock %}
</body>
<script src="{% static '/scripts/click.js' %}"></script>
<script src="{% static '/scripts/settings.js' %}"></script>
</html>