{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="{% static '/icons/edit.png' %}">
    <link rel="stylesheet" type="text/css" href="{% static '/styles/style.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static '/styles/buttons.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static '/styles/plots.css' %}">
    <title>...::: Exercise plots :::...</title>
</head>
<body>
<div id="cont">
    {% block content %}
        {% if exercise.type_of_exercise == 'Sit-ups' %}
            <h2>There were {{ sit_ups_count }} sit-ups!</h2>
        {% endif %}

        {% if exercise.type_of_exercise == 'Jumping-jacks' %}
            <h3>There were {{ jumping_jacks_count }} jumping-jacks!</h3>
        {% endif %}

        {% if plot_data %}
            <img src="data:image/png;base64, {{ plot_data }}" alt="Exercise Plot" />
        {% endif %}

    {% endblock %}
</div>
<a id="home" href="{% url 'telemedWebapp:view_exercises' %}"><p class="bt_txt">Exercises</p></a>
<h1></h1>
<a id="home" href="{% url 'telemedWebapp:home' %}"><p class="bt_txt">Home</p></a>
</body>
</html>
