{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static '/styles/style.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static '/styles/bt_login.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static '/styles/login.css' %}">
    <link rel="icon" type="image/x-icon" href="{% static '/icons/login.png' %}">
    <title>...::: Login :::...</title>
</head>
<body>
<div id="cont">
    {% block content %}
      <h2>Login</h2>
      <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Login</button>
      </form>
    {% endblock %}
<a href="{% url 'telemedWebapp:home' %}"><p class="bt_txt">Home</p></a>
</div>
</body>
<script src="{% static '/scripts/padding.js' %}"></script>
<script src="{% static '/scripts/click.js' %}"></script>
<script src="{% static '/scripts/settings.js' %}"></script>
</html>