{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="{% static '/icons/register.png' %}">
    <link rel="stylesheet" type="text/css" href="{% static '/styles/style.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static '/styles/buttons.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static '/styles/register.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static '/styles/bt.css' %}">
    <title>Register</title>
</head>
<body>
<div id="cont">
    {% block content %}
      <h2>Register as {{ which_account }}</h2>
      <form method="post">
        {% csrf_token %}
            {{ user_form.as_p }}
            {{ form.as_p }}
        <button type="submit">Register</button>
      </form>
    {% endblock %}
</div>
<a href="{% url 'telemedWebapp:home' %}"><p class="bt_txt">Home</p></a>
</body>
<script src="{% static '/scripts/click.js' %}"></script>
<script src="{% static '/scripts/settings.js' %}"></script>
</html>