{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="{% static '/icons/doc.png' %}">
    <link rel="stylesheet" type="text/css" href="{% static '/styles/style.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static '/styles/paginator.css' %}">
    <title>...::: Rehabilitators :::...</title>
</head>
<body>
{% block content %}
  <h2>All Rehabilitators</h2>
    <div class="row mb-3">
    <div class="col-md-3">
    <form class="d-flex" method="GET">
      <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" name="q" value="{{ request.GET.q }}">
      <button class="btn btn-outline-success" type="submit">Search</button>
    </form>
  </div>
</div>

    {% if rehabilitators %}
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Expertise</th>
            <th>Name</th>
            <th>Surname</th>
        </thead>
        <tbody>
          {% for rehab in page_obj  %}
            <tr>
              <td>{{ rehab.expertise }}</td>
              <td>{{ rehab.name }}</td>
              <td>{{ rehab.surname }}</td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    {% else %}
        <p>No rehabilitants found.</p>
  {% endif %}
<div class="d-flex justify-content-center">
  <nav aria-label="Page navigation example">
    <ul class="pagination">
      {% if page_obj.has_previous %}
      <li class="page-item">
        <a class="page-link" href="?page={{ page_obj.previous_page_number }}{% if request.GET.q %}&q={{ request.GET.q }}{% endif %}" aria-label="Previous">
          <span aria-hidden="true">&laquo;</span>
        </a>
      </li>
      {% endif %}
      {% for num in page_obj.paginator.page_range %}
      {% if page_obj.number == num %}
      <li class="page-item active" aria-current="page"><a class="page-link" href="#">{{ num }}</a></li>
      {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
      <li class="page-item"><a class="page-link" href="?page={{ num }}{% if request.GET.q %}&q={{ request.GET.q }}{% endif %}">{{ num }}</a></li>
      {% endif %}
      {% endfor %}
      {% if page_obj.has_next %}
      <li class="page-item">
        <a class="page-link" href="?page={{ page_obj.next_page_number }}{% if request.GET.q %}&q={{ request.GET.q }}{% endif %}" aria-label="Next">
          <span aria-hidden="true">&raquo;</span>
        </a>
      </li>
      {% endif %}
    </ul>
  </nav>
</div>
{% endblock %}
<a id="home" href="{% url 'telemedWebapp:view_all_rehabilitators' %}"><p class="bt_txt">All rehabilitators</p></a>
<h1></h1>
<a id="home" href="{% url 'telemedWebapp:home' %}"><p class="bt_txt">Home</p></a>
</body>
</html>

