{% load my_tags %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="{% static '/icons/doc.png' %}">
    <link rel="stylesheet" type="text/css" href="{% static '/styles/style.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static '/styles/paginator.css' %}">
    <title>...::: Rehabilitators :::...</title>
</head>
<body>
{% block content %}
  <h2>All Rehabilitators</h2>
    <div class="row mb-3">
    <div class="col-md-3">
     <h3>Filter the fields</h3>
    <form>
        {{ rehabilitator_filter_form.as_p }}
        <button type="submit">Search</button>
        <button type="reset">Clear</button>
    </form>
  </div>
</div>
    {% if rehabilitators %}
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Expertise</th>
            <th>Name</th>
            <th>Surname</th>
            <th>Location</th>
            <th>Entity Name</th>
        </thead>
        <tbody>
          {% for rehab in page_obj  %}
            <tr>
              <td>{{ rehab.expertise }}</td>
              <td>{{ rehab.name }}</td>
              <td>{{ rehab.surname }}</td>
              <td>{{ rehab.location }}</td>
              <td>{{ rehab.entity_name }}</td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    {% else %}
        <p>No rehabilitants found.</p>
  {% endif %}
<div class="pagination">
    <span class="step-links">
        {% if page_obj.has_previous %}
            <a href="?{% param_replace page=1 %}">&laquo; First</a>
            <a href="?{% param_replace page=page_obj.previous_page_number  %}">Previous</a>
        {% endif %}

        <span class="current">
            Page {{ page_obj.number }} out of {{ page_obj.paginator.num_pages }}.
        </span>

        {% if page_obj.has_next %}
            <a href="?{% param_replace page=page_obj.next_page_number  %}">Next</a>
            <a href="?{% param_replace page=page_obj.paginator.num_pages  %}">Last &raquo;</a>
        {% endif %}
    </span>
</div>
{% endblock %}
<a id="home" href="{% url 'telemedWebapp:view_all_rehabilitators' %}"><p class="bt_txt">Reset filtering</p></a>
<h1></h1>
<a id="home" href="{% url 'telemedWebapp:home' %}"><p class="bt_txt">Home</p></a>
</body>
</html>

