{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="{% static '/icons/search.png' %}">
    <link rel="stylesheet" type="text/css" href="{% static '/styles/style.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static '/styles/paginator.css' %}">
    <title>...::: Search :::...</title>
</head>
<body>
{% block content %}
  <h2>All Exercises</h2>
    <div class="row mb-3">
    <div class="col-md-3">
    <form class="d-flex" method="GET">
      <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" name="q" value="{{ request.GET.q }}">
      <button class="btn btn-outline-success" type="submit">Search</button>
    </form>
  </div>
</div>
    {% if exercises %}
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Date</th>
            <th>Type of exercise</th>
            <th>Exercise plot</th>
              {% if is_patient %}
                <th>Edit exercise</th>
                <th>Delete exercise</th>
              {% endif %}
        </thead>
        <tbody>
          {% for exercise in page_obj %}
            <tr>
                <td>{{ exercise.date_of_exercise }}</td>
                <td>{{ exercise.type_of_exercise }}</td>
                <td><a href="{% url 'telemedWebapp:exercise_plot' %}?exercise_id={{ exercise.id }}">View exercises</a></td>
                {% if is_patient %}
                    <td><a href="{% url 'telemedWebapp:edit_exercise' %}?exercise_id={{ exercise.id }}">Edit exercise</a></td>
                    <td><a href="{% url 'telemedWebapp:delete_exercise' %}?exercise_id={{ exercise.id }}">Delete exercise</a></td>
                {% endif %}
            </tr>
          {% endfor %}
        </tbody>
      </table>
    {% else %}
        <p>No exercises found.</p>
  {% endif %}
<div class="d-flex justify-content-center">
  <nav aria-label="Page navigation example">
    <ul class="pagination">
      {% if page_obj.has_previous %}
      <li class="page-item">
        <a class="page-link" href="?page={{ page_obj.previous_page_number }}{% if request.GET.q %}&q={{ request.GET.q }}{% endif %}" aria-label="Previous">
          <span aria-hidden="true">&laquo;</span>
        </a>
      </li>
      {% endif %}
      {% for num in page_obj.paginator.page_range %}
      {% if page_obj.number == num %}
      <li class="page-item active" aria-current="page"><a class="page-link" href="#">{{ num }}</a></li>
      {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
      <li class="page-item"><a class="page-link" href="?page={{ num }}{% if request.GET.q %}&q={{ request.GET.q }}{% endif %}">{{ num }}</a></li>
      {% endif %}
      {% endfor %}
      {% if page_obj.has_next %}
      <li class="page-item">
        <a class="page-link" href="?page={{ page_obj.next_page_number }}{% if request.GET.q %}&q={{ request.GET.q }}{% endif %}" aria-label="Next">
          <span aria-hidden="true">&raquo;</span>
        </a>
      </li>
      {% endif %}
    </ul>
  </nav>
</div>
{% endblock %}
<a id="home" href="{% url 'telemedWebapp:view_exercises' %}"><p class="bt_txt">Exercises</p></a>
<h1></h1>
<a id="home" href="{% url 'telemedWebapp:home' %}"><p class="bt_txt">Home</p></a>
</body>
</html>

