{% load my_tags %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="{% static '/icons/patients.png' %}">
    <link rel="stylesheet" type="text/css" href="{% static '/styles/style.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static '/styles/paginator.css' %}">
    <title>Patients</title>
</head>
<body>
{% block content %}
  <h2>All Patients</h2>
    <div id="cont">
          <h3>Filter the fields</h3>
          <form method="GET">
                {% csrf_token %}
                {{ patient_filter_form.as_p }}
            <button type="submit">Search</button>
            <button type="reset">Clear</button>
          </form>
    </div>
{% if patients %}
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Name</th>
          <th>Surname</th>
          <th>Sex</th>
          <th>Birthday</th>
          <th>Exercises</th>
        </tr>
      </thead>
      <tbody>
        {% for patient in page_obj %}
          <tr>
            <td>{{ patient.name }}</td>
            <td>{{ patient.surname }}</td>
            <td>{{ patient.sex }}</td>
            <td>{{ patient.birth_date }}</td>
            <td><a href="{% url 'telemedWebapp:view_exercises' %}?patient_id={{ patient.id }}">View Exercises</a></td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  {% else %}
    <p>No patients found.</p>
  {% endif %}
<div class="pagination">
    <span class="step-links">
        {% if page_obj.has_previous %}
            <a href="?{% param_replace page=1 %}">&laquo; First</a>
            <a href="?{% param_replace page=page_obj.previous_page_number  %}">Previous</a>
        {% endif %}

        <span class="current">
            Page {{ page_obj.number }} out of {{ page_obj.paginator.num_pages }}.
        </span>

        {% if page_obj.has_next %}
            <a href="?{% param_replace page=page_obj.next_page_number  %}">Next</a>
            <a href="?{% param_replace page=page_obj.paginator.num_pages  %}">Last &raquo;</a>
        {% endif %}
    </span>
</div>
{% endblock %}
<a id="home" href="{% url 'telemedWebapp:view_particular_patients' %}"><p class="bt_txt">Reset filtering</p></a>
<h1></h1>
<a id="home" href="{% url 'telemedWebapp:home' %}"><p class="bt_txt">Home</p></a>
</body>
</html>

