{% load my_tags %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="{% static '/icons/search.png' %}">
    <link rel="stylesheet" type="text/css" href="{% static '/styles/style.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static '/styles/paginator2.css' %}">
    <title>Search</title>
</head>
<body>
{% block content %}
  <h2>All Exercises</h2>
    <div class="row mb-3">
    <div class="col-md-3">
     <h3>Filter the fields</h3>
    <form>
        {{ exercise_filter_form.as_p }}
        <button type="submit">Search</button>
        <button type="reset">Clear</button>
    </form>
  </div>
</div>
    {% if exercises %}
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Date</th>
            <th>Type of exercise</th>
            <th>Exercise plot</th>
              {% if is_patient %}
                <th>Edit exercise</th>
                <th>Delete exercise</th>
              {% endif %}
        </thead>
        <tbody>
          {% for exercise in page_obj %}
            <tr>
                <td>{{ exercise.date_of_exercise }}</td>
                <td>{{ exercise.type_of_exercise }}</td>
                <td><a href="{% url 'telemedWebapp:exercise_plot' %}?exercise_id={{ exercise.id }}">View exercises</a></td>
                {% if is_patient %}
                    <td><a href="{% url 'telemedWebapp:edit_exercise' %}?exercise_id={{ exercise.id }}">Edit exercise</a></td>
                    <td><a href="{% url 'telemedWebapp:delete_exercise' %}?exercise_id={{ exercise.id }}">Delete exercise</a></td>
                {% endif %}
            </tr>
          {% endfor %}
        </tbody>
      </table>
    {% else %}
        <p class="info">No exercises found.</p>
  {% endif %}
<div class="pagination">
    <span class="step-links">
        {% if page_obj.has_previous %}
            <a href="?{% param_replace page=1 %}">&laquo; First</a>
            <a href="?{% param_replace page=page_obj.previous_page_number  %}">Previous</a>
        {% endif %}

        <span class="current">
            Page {{ page_obj.number }} out of {{ page_obj.paginator.num_pages }}.
        </span>

        {% if page_obj.has_next %}
            <a href="?{% param_replace page=page_obj.next_page_number  %}">Next</a>
            <a href="?{% param_replace page=page_obj.paginator.num_pages  %}">Last &raquo;</a>
        {% endif %}
    </span>
</div>
{% endblock %}
<a class="home" href="{% url 'telemedWebapp:view_exercises' %}"><p class="bt_txt">Reset filtering</p></a>
<h1></h1>
{% if is_patient %}
    <a class="home" href="{% url 'telemedWebapp:home' %}"><p class="bt_txt">Home</p></a>
{% endif %}
{% if is_rehabilitator %}
    <a class="home" href="{% url 'telemedWebapp:view_particular_patients' %}"><p class="bt_txt">Back to patients</p></a>
{% endif %}
</body>
<script src="{% static '/scripts/click.js' %}"></script>
<script src="{% static '/scripts/settings.js' %}"></script>
</html>

