button{
    border: 2px solid white;
    border-radius: 40px;
    width: 284px;
    height: 54px;
    display: block;
    margin: 15px auto 15px auto;
    color: white;
    background-color: rgb(134, 194, 50);
    font-family: Mirza;
    font-variant: small-caps;
    font-size: 28px;
    cursor: pointer;
    transition: 1s;
}
button:hover{
    border-radius: 0;
    color: rgb(171, 14, 61);
}

